.roll-gauge, .pitch-gauge {
  position: relative;
  margin: 20px;
}

.roll-gauge .gauge {
  background: url('../images/jeep-rear.png') center center no-repeat;
  background-size: 40% auto;
}

.pitch-gauge .gauge {
  background: url('../images/jeep-side.png') center center no-repeat;
  background-size: 70% auto;
}

.gauge {
  border-radius: 100%;
  border: 1px solid black;
  height: 250px;
  width: 250px;
  line-height: 170px;
  font-size: 16px;
  position: relative;
  text-shadow: 0 0 12px white;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  position: relative;
  border: 5px solid green;
}

.earth {
  position: absolute;
  height: 50%;
  width: 100%;
  border-bottom: 2px solid black;
  top: 0;
  left: 0;
  z-index: -1;
}
