.gauge {
  border-radius: 100%;
  border: 1px solid black;
  margin: 20px;
  height: 100px;
  width: 100px;
  line-height: 170px;
  font-size: 16px;
  position: relative;
  text-shadow: 0 0 12px white;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
}

.gauge::before {
  content: '';
  top: 50%;
  left: -10px;
  right: -10px;
  height: 1px;
  background: black;
  z-index: -1;
  position: absolute;
}

.gauge::after {
  content: '';
  width: 100%;
  display: block;
  height: 100%;
  top: -10px;
  left: -10px;
  position: absolute;
  z-index: -2;
  border-radius: 100%;
  border: 10px solid tomato;
  border-left-width: 10px;
  border-bottom-width: 10px;
  border-right-color: transparent;
  border-top-color: transparent;
  transform: rotate(-45deg);
}
